$primary-color: #1a1a1a;
$secondary-color: #2a2a2a;
$tertiary-color: #262626;
$quaternary-color: #2f2f2f;

$hover-color-primary: #232323;

$button-color-1: #fff000;
$button-color-1-hover: #ffd900;

$white: #fff;
$dull-white: #ccc;

$accent-color: #9990e1;
$accent-color-darken: #7160c5;

$default-border-color : rgba(255, 255, 255, .1);