@import './global/colors';
@import './global/variables.scss';

html,
body {
  height: 100%;
}

body {
  color: $dull-white !important;
  background-color: $primary-color;
  font-family: $default-font-family;
  overflow-y: hidden;
}

.background-accent {
  background-color: $accent-color;
}

.background-accent-darken {
  background-color: $accent-color-darken;
}

.custom-button {
  background-color: $button-color-1;
  border-radius: 12px;
  color: #000;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  border: 0;

  &:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
  }
}

// .scroll-overflow {
//   overflow-y: scroll;
// }